.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: $colorDarkCyan;
    height: 100vh;

    .circles-background .circle-top,
    .circles-background .circle-bottom {
        position: absolute;
    }

    .circle-top {
        width: 50rem;
        height: auto;
        top: -25.625rem;
        left: -9.375rem;

        @include media-query(mobile) {
            width: 37.5rem;
            height: auto;
            opacity: 0.6;
            top: -21.875rem;
            left: -23.125rem;
        }
    }

    .circle-bottom {
        width: 50rem;
        height: auto;
        bottom: -31.25rem;
        right: -10rem;

        @include media-query(mobile) {
            width: 37.5rem;
            height: auto;
            opacity: 0.6;
            bottom: -18.75rem;
            right: -24.375rem;
        }
    }

    .attribution {
        color: white;
        position: relative;
        bottom: 0.325rem;

        a {
            color: inherit;
            transition: all ease 0.2s;

            &:hover {
                text-decoration: none;
                color: $colorDarkDesaturatedBlue;
            }
        }
    }
}
